.chat-main {
  width: calc(100vw - 300px);
  height: 100vh;
  // background-color: yellow;
  display: flex;
  position: relative;
  
  &__messages {
  height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: rgb(253, 208, 124);
    overflow: scroll;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;

    .message {
      padding-bottom: 40px;

      .upper-message {
        display: flex;
        margin-bottom: 10px;
      
        .upper-message__user-name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          // text-align: left;
        }
        .upper-message__date {
          color: black;
          font-size: 12px;
          // text-align: left;
          margin-left: 10px;
          font-weight: 100;
        }
       }
    
    &__text {
      color: #434a54;
      font-size: 14px;
      margin-top: 12px;
      text-align: left;
     }
    }
  }

  &__form {
    height: 90px;
    padding: 20px 40px;
    background-color: rgb(255, 191, 73);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;

    .new_message {
      display: flex;

      width: 100%;
      margin: 0 auto;
    }
    
    .form__message {
      width: 100%;
      height: 50px;
      padding-left: 10px;
      border-style: none;
      color: #434a54;
      position: relative;
    }

    .message_box{
      position: relative;
      width: 100%;
    }
    .form__mask__image {
      color: black;
      position: absolute;
      align-items: center;
      font-size: 1.3rem;
      top: 10px;
      right: 120px;
      cursor: pointer;

      .hidden{
        display: none;
      }
    }

    .form__send {
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      top: 20px;
      right: 40px;
      bottom: 20px;
      width: 100px;
      background-color: orangered;
      color: white;
     }
      
    
  }

  &__main-header { 
    height: 100px;
    padding: 0 40px;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    // background-color: white;
    display: flex;
    text-decoration: none;
    background-color: rgb(255, 191, 73);

    &__edit{
      &__botton {
        margin-top: 28px ;
        right: 40px;
        color: orangered;
        font-size: 16px;
        border: 3px solid;
        padding: 10px 20px;
        text-decoration: none;
        line-height: 20px;
        display: block;
      }
    }

    &__left-box {
      margin-top: 35px;

      &__current-group {
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
      }
      
      &__member-list {
        display: flex;
        font-size: 12px;
        color: black;
        list-style: none;
      }

        &__member {
        display: flex;
        font-size: 12px;
        color: #999999;
        }
    }
  }
}